version: '3'

services:
  web:
    build:
      context: ./docker
      dockerfile: Dockerfile-local
    ports:
      - 80:80
    privileged: true
    environment:
      APP_ENV: local
    volumes:
      - ./:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini

     


